name: Cypress Tests

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # Install npm dependencies, cache them correctly and run all Cypress tests
      - name: Install dependencies
        run: npm ci

      - name: Run Cypress tests
        uses: cypress-io/github-action@v7
        with:
          browser: electron
          headed: false
      # Upload files as artifacts if test fails
      - name: Upload Cypress artifacts (screenshots/videos)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-media
          path: cypress/screenshots,cypress/videos