name: Cypress Tests

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly and run all Cypress tests
      - name: Install dependencies
        run: npm ci

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          headless: true

      # Upload test results (JUnit XML)
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: cypress-results
          path: results